.chat-comment-new {
    display: flex;
    gap: 10px;
    padding: 10px 15px;
    grid-column: span 2;
    font-size: 12px;
}

.attachments {
    flex-direction: column;
    gap: 5px;
    display: flex;
}

.attach {
    display: block;
    width: 20px;
    height: 32px;
    padding: 0;
    border: none;
    background-color: transparent;
    background-image: url('../icons/photo.svg');
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
    cursor: pointer;
}

.attachment {
    width: 50px;
    height: 40px;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}

.attachment img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.attachment-loading {
    background-color: var(--solid-primary);
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.attachment-new {
    border: 1px dashed var(--solid-primary-light);
    display: inline-grid;
    place-content: center;
    cursor: pointer;
}

.attach-checkbox {
    display: none;
}

/*masonry-chat*/

.chat-wrapper {
    grid-column: span 2;
}

.chat-item-sizer {
    width: 100%;
}

.chat-item {
    width: 100%;
    margin-bottom: 20px;
}

.chat-item:nth-last-child(1) {
    margin-bottom: 0;
}

/*chat-info*/

.chat-info .profile-image {
    width: 32px;
    height: 32px;
    font-size: 12px;
    align-self: center;
}

.chat-name {
    font-size: 14px;
    line-height: 17px;
}

.chat-caption {
    font-size: 12px;
    line-height: 14px;
}

.chat-wrap-blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    gap: 10px;
    align-items: flex-end;
    flex-shrink: 0;
}

.chat-date {
    font-size: 12px;
    line-height: 14px;
    color: #96a7af;
}

.chat-time {
    font-size: 12px;
    line-height: 14px;
}

/*chat-info end*/

.chat-message {
    font-size: 12px;
}

/*chat-attachments*/

.chat-attachments {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    height: 175px;
    gap: 15px;
}

.chat-attachments div {
    border-radius: 13px;
    overflow: hidden;
}

.chat-attachments img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chat-attachments div:only-child {
    grid-row: span 2;
    grid-column: span 2;
}

.chat-attachments div:nth-last-child(2):first-child,
.chat-attachments div:nth-last-child(2):first-child~div {
    grid-row: span 2;
}

.chat-attachments div:nth-last-child(3):first-child {
    grid-row: span 2;
}

/*chat-attachments end*/

.chat-counters {
    display: flex;
    gap: 15px;
}

.chat-counters-row {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
}

.chat-counter-name {
    display: none;
}

.chat-counters-row .like-icon {
    width: 17px;
    height: 17px;
}

/*chat-comment*/

.comment-icon {
    flex-shrink: 0;
    height: 17px;
    width: 17px;
    background-image: url('../icons/comments.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: .3s;
}

.chat-separator {
    height: 1px;
    background: var(--solid-light-dark);
}

.chat-comment {
    display: flex;
    gap: 10px;
}

.chat-comment .chat-profile {
    align-self: flex-end;
}

.chat-text {
    flex-grow: 1;
    align-self: start;
    min-height: 32px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.chat-textarea {
    width: 100%;
    padding: 0;
    background: transparent;
    border: none;
    font-size: 12px;
    line-height: 18px;
    color: var(--solid-light-gray);
    resize: none;
}

.chat-textarea::placeholder {
    color: var(--solid-light-gray);
}

.chat-textarea:focus {
    outline: none;
}

.chat-textarea-test {
    width: 100%;
    padding: 8px;
    padding-bottom: 7px;
    overflow: hidden;
    word-wrap: break-word;
    font-size: 12px;
    line-height: 18px;
    color: var(--solid-light-gray);
    border-bottom: 1px solid var(--solid-primary-light);
}

.chat-textarea-test:empty:before {
    content: attr(placeholder);
    color: var(--solid-light-gray);
    cursor: text;
}

.chat-textarea-test:focus {
    outline: none;
}

/*chat-comment end*/

/*masonry-chat end*/

@media (min-width: 768px) {

    .chat-comment-new {
        grid-column: span 3;
    }

    .chat-wrapper {
        grid-column: span 5;
        margin-right: -30px;
    }

    .chat-gutter {
        width: 30px;
    }

    .chat-item-sizer {
        width: calc(20% - 30px);
    }

    .chat-item {
        width: calc(60% - 30px);
        margin-bottom: 30px;
    }

    .chat-item:nth-child(even) {
        width: calc(40% - 30px);
    }

    .chat-item:nth-last-child(2) {
        margin-bottom: 0;
    }

}

@media (min-width: 1280px) {

    .chat-comment-new {
        grid-column: span 4;
    }

    .chat-wrapper {
        grid-column: span 10;
        margin-right: -20px;
    }

    .chat-info .profile-image {
        width: 48px;
        height: 48px;
        font-size: 16px;
    }

    .chat-gutter {
        width: 20px;
    }

    .chat-item-sizer {
        width: calc(20% - 20px);
    }

    .chat-item {
        width: calc(60% - 20px);
        margin-bottom: 20px;
    }

    .chat-item:nth-child(even) {
        width: calc(40% - 20px);
    }

    .chat-counter-name {
        display: inline;
    }

}

@media (min-width: 1920px) {

    .chat-comment-new {
        grid-column: 3/6;
    }

    .chat-wrapper {
        grid-column: 3/11;
        margin-right: -40px;
    }

    .chat-item-sizer {
        width: calc(12.5% - 40px);
    }

    .chat-gutter {
        width: 40px;
    }

    .chat-item {
        width: calc(62.5% - 40px);
        margin-bottom: 40px;
    }

    .chat-item:nth-child(even) {
        width: calc(37.5% - 40px);
    }

}

body.light-theme .chat-textarea {
    color: var(--solid-light-dark);
}

body.light-theme .chat-textarea::placeholder {
    color: var(--solid-light-dark);
}

body.light-theme .chat-textarea-test {
    color: var(--solid-light-dark);
    border-bottom: 1px solid var(--solid-bg-dark);
}

body.light-theme .chat-textarea-test:empty::before {
    color: var(--solid-light-dark);
}

body.light-theme .chat-comment {
    border-top: 1px solid var(--solid-secondary);
}

body.light-theme .chat-comment .chat-text {
    border-bottom: 1px solid var(--solid-bg-dark);
}

body.light-theme .chat-separator {
    background: var(--solid-primary-light);
}

<<<<<<< HEAD

body.light-theme .chat-counter.comments::before {
=======
body.light-theme .comment-icon {
>>>>>>> parent of 87553a2 (8)
    filter: brightness(0) saturate(100%) invert(7%) sepia(9%) saturate(5976%) hue-rotate(190deg) brightness(94%) contrast(95%);
}

body.light-theme .attach {
    filter: brightness(0) saturate(100%) invert(7%) sepia(9%) saturate(5976%) hue-rotate(190deg) brightness(94%) contrast(95%);
}

body.light-theme .attachment-new {
    border: 1px dashed var(--solid-bg-dark);
}