@import 'normalize.css';
@import "fonts.css";

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

:root {
    --yellow: #ffc542;
    --solid-primary-light: #edf2f7;
    --solid-primary: #4c6fff;
    --solid-succes: #66cb9f;
    --solid-danger: #f16063;
    --solid-secondary: #edf2f7;
    --solid-light-gray: #d5d5dc;
    --solid-light-dark: #334155;
    --solid-dark-light-theme: #17171b;
    --solid-bg-dark: #0f172a;
    --swiper-navigation-size: 21px;
    --swiper-theme-color: #fff;

    --background-color: #0f172a;
    --box-color: rgba(255, 255, 255, 0.05);
    --text-color: #fff;
    --text-secondary-color: var(--solid-primary-light);
    --pie-color: #334155;
    --diagram-color: #2a3c44;
    --border-color: #334155;
}

.red {
    background-color: var(--solid-danger);
}

.green {
    background-color: var(--solid-succes);
}

.blue {
    background-color: var(--solid-primary);
}

.yellow {
    background-color: var(--yellow);
}

.yellow-gradient {
    background: var(--gradients-yellow-gradient, linear-gradient(225deg, #FFEF5E 0%, #F7936F 100%));
}

.orange-gradient {
    background: var(--gradients-orange-gradient, linear-gradient(225deg, #FFC656 0%, #F16063 100%));
}

.purple-gradient {
    background: var(--gradients-purple-gradient, linear-gradient(225deg, #D665FF 0%, #4C6FFF 100%));
}

.pink-gradient {
    background: var(--gradients-pink-gradient, linear-gradient(224deg, #FF92AE 8.18%, #FF3D9A 95.84%));
}

.green-gradient {
    background: var(--gradients-green-gradient, linear-gradient(225deg, #67E9F1 0%, #24E795 100%));
}

body {
    background-color: var(--background-color);
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--text-color);
}

p {
    margin: 0;
}

img {
    display: block;
}

ul {
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

h1 {
    font-weight: 700;
    font-size: 30px;
    color: var(--text-color);
    margin: 0;
}

/*UI*/

/*button*/

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background: var(--solid-primary, #4C6FFF);
    color: var(--solid-primary-light);
    cursor: pointer;
    transition: .3s;
}

.button.small {
    height: 40px;
    font-size: 14px;
}

.button:hover {
    background: rgba(76, 111, 255, 0.8);
}

.button:disabled {
    background: var(--solid-light-dark);
}

/*button end*/

/*input-text*/

.input-text-label {
    display: flex;
    flex-direction: column;
    height: 37px;
    padding: 8px;
    gap: 0;
    border-bottom: 1px solid var(--text-secondary-color);
    position: relative;
}

.input-text-label:has(.input-text-title) {
    padding: 0 8px;
}

.input-text-title {
    font-size: 10px;
    line-height: 14px;
    color: var(--text-secondary-color);
}

.input-text {
    padding: 0;
    background: transparent;
    border: none;
    width: 100%;
    font-size: 14px;
    line-height: 21px;
    color: var(--text-secondary-color);
}

.input-text:focus {
    outline: none;
}

.input-text::placeholder {
    color: var(--solid-light-gray);
}

.input-text.invalid {
    color: var(--solid-danger);
}

.input-text.invalid:valid {
    color: var(--solid-succes);
}

.input-text.invalid::placeholder {
    color: var(--solid-danger);
}

.just-validate-error-field {
    color: var(--solid-danger);
}

.just-validate-error-field::placeholder {
    color: var(--solid-danger);
}

.input-text-label:has(.just-validate-error-field) {
    border-bottom: 1px solid var(--solid-danger);
}

.input-text-label:has(.just-validate-error-field) .input-text-title {
    color: var(--solid-danger);
}

.just-validate-success-field {
    color: var(--solid-succes);
}

.just-validate-success-field::placeholder {
    color: var(--solid-succes);
}

.input-text-label:has(.just-validate-success-field) {
    border-bottom: 1px solid var(--solid-succes);
}

.input-text-label:has(.just-validate-success-field) .input-text-title {
    color: var(--solid-succes);
}

.just-validate-error-label {
    color: var(--solid-danger);
    font-size: 8px;
    line-height: 12px;
    text-align: right;
    right: 0;
    top: 37px;
    position: absolute;

}

input:-internal-autofill-selected {
    background: transparent;
}

/*input-text end*/

/*input-radio*/

.input-radio {
    display: none;
}

.radio {
    width: 24px;
    height: 24px;
    background: var(--solid-primary-light);
    border-radius: 50%;
    border: 2px solid var(--solid-light-dark);;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.radio::after {
    content: '';
    width: 14px;
    height: 14px;
    background: var(--solid-primary);
    border-radius: 50%;
    scale: 0;
    transition: scale .2s;
}

.input-radio:checked ~ .radio::after {
    scale: 1;
}

/*input-radio end*/

/*input-checkbox*/

.input-checkbox {
    display: none;
}

.checkbox {
    display: block;
    position: relative;
    width: 36px;
    height: 19px;
    background: var(--solid-light-dark);
    border-radius: 98px;
    cursor: pointer;
}

.input-checkbox:checked ~ .checkbox {
    background: var(--solid-primary);
}

.checkbox::before {
    content: '';
    display: block;
    position: absolute;
    width: 13px;
    height: 13px;
    background: var(--solid-primary-light);
    border-radius: 50%;
    top: 2.5px;
    left: 2.5px;
}

.input-checkbox:checked ~ .checkbox::before {
    translate: 17px;
}

/*input-checkbox end*/

/*profile-image*/

.profile-image {
    position: relative;
    display: inline-grid;
    place-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-size: 12px;
    line-height: 100%;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: var(--solid-primary);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    flex-shrink: 0;
    cursor: pointer;
}

/*profile-image*/

/*UI end*/

/*header*/

.header {
    display: flex;
    align-items: center;
    gap: 20px;
    position: fixed;
    width: 100%;
    padding: 20px 25px;
    background: var(--background-color);
    z-index: 2;
    top: 0;
}

.header-title {
    display: none;
}

/*burger*/

#burger-checkbox {
    display: none;
}

.burger {
    position: relative;
    background: var(--solid-primary);
    border-radius: 7px;
    padding: 10px 8px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    z-index: 3;
    cursor: pointer;
}

.burger-line {
    width: 16px;
    height: 2px;
    border-radius: 10px;
    background: #fff;
    transition: .3s;
}

.burger-line:nth-child(2) {
    width: 10px;
}

.burger-line:nth-child(3) {
    width: 6px;
}

.burger:hover .burger-line {
    width: 16px;
}

#burger-checkbox:checked+.burger .burger-line:nth-child(1) {
    translate: 0 5px;
    rotate: 45deg;
}

#burger-checkbox:checked+.burger .burger-line:nth-child(2) {
    opacity: 0;
}

#burger-checkbox:checked+.burger .burger-line:nth-child(3) {
    width: 16px;
    translate: 0 -5px;
    rotate: -45deg;
}

#burger-checkbox:checked~#header-menu {
    scale: 1;
}

/*burger end*/

/*sidebar*/

#header-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    padding: 25px;
    padding-top: 110px;
    background: var(--background-color);
    overflow: auto;
    z-index: 2;
    transform-origin: left top;
    scale: 0;
    transition: .3s;
}

.menu-logo {
    display: none;
}

.menu {
    height: 100%;
}

.menu-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 25px;
    list-style-type: none;
    height: 100%;
}

.menu-item:last-child {
    margin-top: auto;
}

.menu-link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-color);
    text-decoration: none;
}

.menu-icon {
    width: 32px;
    height: 32px;
    padding: 8px;
    border-radius: 8px;
    scale: 1;
}

/*sidebar end*/

/*switcher*/

#switcher-checkbox {
    display: none;
}

.header-switcher {
    margin-left: auto;
    position: relative;
    display: flex;
    padding: 5px;
    height: 32px;
    background-color: var(--box-color);
    border-radius: 22px;
    cursor: pointer;
}

.header-switcher::before,
.header-switcher::after {
    content: '';
    width: 36px;
    background-image: url('../icons/moon-light.svg');
    background-size: 12px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    transition: .3s;
}

.header-switcher::after {
    background-image: url('../icons/sun-dark.svg');
    margin-left: -5px;
}

.switcher {
    position: absolute;
    width: 36px;
    top: 5px;
    bottom: 5px;
    border-radius: 18px;
    background: var(--solid-primary);
    transition: .3s;
}

#switcher-checkbox:checked ~ .header-switcher {
    background-color: #fff;
}

#switcher-checkbox:checked ~ .header-switcher::before {
    background-image: url('../icons/moon-dark.svg');
}

#switcher-checkbox:checked ~ .header-switcher::after {
    background-image: url('../icons/sun-light.svg');
}

#switcher-checkbox:checked ~ .header-switcher .switcher {
    translate: 31px;
}

/*switcher end*/

.profile-push {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    flex-shrink: 0;
    position: relative;
    background: url("../icons/push.svg") var(--box-color) center no-repeat;
    background-size: 13px;
}

.profile-push::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 4px;
    right: 2px;
    top: 2px;
    background: var(--solid-danger);
    scale: 0;
    transition: scale .3s;
}

.profile-push.active::after {
    scale: 1;
}

.header .profile-image {
    margin-left: -10px;
}

/*header end*/

/*main*/

.main {
    padding: 92px 25px 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.box {
    padding: 30px;
    border-radius: 16px;
    background: var(--box-color);
}

/*frame*/

.welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('../images/bg.png') no-repeat center right -24px, linear-gradient(225deg, #D665FF 0%, #4C6FFF 100%);
    grid-column: span 2;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 18px;
    gap: 14px;
    color: #fff;
}

.welcome-text p:first-child {
    margin: 0;
    margin-bottom: 7px;
    font-size: 18px;
    font-weight: 500;
    min-height: 38px;
    display: flex;
    align-items: center;
}

.welcome-text p:last-child {
    line-height: 16px;
    font-size: 12px;
}

.welcome-image {
    display: none;
}

/*frame end*/

/*activity*/

.activity {
    display: flex;
    gap: 30px;
    padding: 15px;
    justify-content: space-between;
    width: 100%;
    flex-shrink: 0;
    scroll-snap-align: start;
    scroll-margin: 0 25px;
}

.activity-graph {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 148px;
}

.activity-progress {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 12px;
}

.progress-title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
}

.progress-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.progress-item {
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 15px;
    height: 20px;
    list-style-type: none;
}

.progress-item::before {
    content: '';
    width: 15px;
    height: 15px;
    background-color: var(--solid-danger);
    border-radius: 50%;
    flex-shrink: 0;
}

.progress-item:nth-child(2)::before {
    background-color: var(--solid-succes);
}

.progress-item:nth-child(3)::before {
    background-color: var(--yellow);
}

.progress-item:nth-child(4)::before {
    background-color: var(--solid-primary);
}

.yes::before {
    background-image: url('../icons/yes.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.no::before {
    background-image: url('../icons/no.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.pie-wrap {
    position: relative;
    --width: 108px;
    width: var(--width);
    height: var(--width);
    --border: 10px;
}

.pie {
    display: inline-grid;
    place-content: center;
    width: 100%;
    height: 100%;
    border: var(--border) solid var(--pie-color);
    border-radius: 50%;
}

.pie-extra {
    position: absolute;
    inset: 0;
    border: var(--border) solid transparent;
    border-radius: 50%;
    background: conic-gradient(var(--color) calc(var(--percent) * 1%), transparent 0) border-box;
    mask: linear-gradient(#000, #000) content-box, linear-gradient(#000, #000);
    mask-composite: exclude;
    animation: moving 1s .5s both;
}

.pie-extra:before,
.pie-extra:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: calc(50% - var(--border) / 2);
    background: var(--color);
    transform: translateY(calc(50% - var(--width) / 2));
}

.pie-extra:after {
    rotate: calc(var(--percent) * 3.6deg);
}

@property --percent {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}

@keyframes moving {
    from {
        --percent: 0
    }
}

/*activity end*/

/*column*/

.clock {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    width: 100%;
    flex-shrink: 0;
    scroll-snap-align: start;
    scroll-margin: 0 25px;
}

.clock-row {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0;
    background: none;
}

.clock-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

.clock-item::before {
    content: '';
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    background: var(--solid-primary);
    background-image: url('../icons/clock.svg');
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
}

.clock-row:nth-child(2) .clock-item::before {
    background-image: url('../icons/calendar.svg');
}

#time,
#date {
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

#date {
    font-weight: 700;
}

/*column end*/

/*statistics*/

.statistics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    grid-column: span 2;
}

.statistics-cover {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    gap: 20px;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    align-content: flex-start;
}

.cover {
    border-radius: 16px;
}

.cover-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.cover-shadow {
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: .3s;
    z-index: 1;
}

.cover:hover .cover-shadow {
    opacity: 1;
}

.cover-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cover-name {
    font-size: 24px;
    line-height: 22px;
}

.cover .swiper-button-next,
.cover .swiper-button-prev {
    opacity: 0;
    transition: .3s;
}

.cover:hover .swiper-button-next,
.cover:hover .swiper-button-prev {
    opacity: 1;
}

.cover:hover .swiper-button-disabled {
    opacity: 0;
}

.statistics-diagram {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 30px;
}

.diagram-description {
    display: flex;
    gap: 20px;
}

.diagram-line {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
}

.diagram-line::after {
    content: '';
    width: 6px;
    height: 6px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: var(--solid-danger);
}

.diagram-line:nth-child(2)::after {
    background-color: var(--solid-succes);
}

.diagram {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.diagram-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.diagram-item {
    border-radius: 6px;
    width: 9px;
    height: 138px;
    background: var(--diagram-color);
    position: relative;
}

.diagram-item::after {
    content: "";
    position: absolute;
    background: var(--solid-succes);
    height: calc(var(--views) - var(--likes) - 2px);
    width: 9px;
    border-radius: 6px;
    bottom: 0;
}

.diagram-item::before {
    content: "";
    position: absolute;
    background: var(--solid-danger);
    height: var(--likes);
    width: 9px;
    border-radius: 6px;
    bottom: calc(var(--views) - var(--likes) + 2px);
}

.diagram-date {
    margin-top: 28px;
    font-size: 12px;
    line-height: 14px;
}

.diagram-day {
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #96a7af;
    margin-top: 6px;
}

/*statistics end*/

/*chat*/

.chat {
    grid-column: span 2;
    margin: 0 -25px;
    padding: 0 25px;
    border-radius: 16px;
}

.chat-list {
    align-items: center;
}

.chat-item {
    box-sizing: border-box;
    transition: height .3s;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.chat .swiper-slide-prev,
.chat .swiper-slide-next {
    height: calc(100% - 70px);
}

.chat-item .chat-info,
.chat-item .chat-message {
    transition: .3s;
}

.chat .swiper-slide-prev .chat-info,
.chat .swiper-slide-next .chat-info {
    opacity: 0;
}

.chat .swiper-slide-prev .chat-message,
.chat .swiper-slide-next .chat-message {
    translate: 0 -63px;
}

.chat .swiper-button-prev,
.chat .swiper-button-next {
    display: none;
    width: 600px;
    height: 100%;
    top: 0;
    margin: 0;
    pointer-events: none;
    transition: .3s;
}

.chat .swiper-button-prev {
    background: linear-gradient(-90deg, rgba(27, 35, 53, 0) 85%, var(--background-color) 92%);
    left: 0;
    justify-content: flex-start;
}

.chat .swiper-button-next {
    background: linear-gradient(90deg, rgba(27, 35, 53, 0) 85%, var(--background-color) 92%);
    right: 0;
    justify-content: flex-end;
}

.chat .swiper-button-next:after,
.chat .swiper-button-prev:after {
    background: rgba(255, 255, 255, 0.12);
    border-radius: 50%;
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
}

.chat-info {
    position: relative;
    display: flex;
    gap: 17px;
}

.chat-info .profile-image {
    height: 48px;
    width: 48px;
    font-size: 16px;
}

.online:after {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    right: -2px;
    top: -2px;
    border-radius: 50%;
    background: #22c55e;
    border: 2px solid #fafaf9;
}

.chat-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    overflow: hidden;
    flex-grow: 1;
}

.chat-wrap-line {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 5px;
    width: 100%;
    height: calc(50% - 2.5px);
}

.chat-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
}

.chat-caption {
    color: #96a7af;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
    align-self: flex-start;
}

.chat-time {
    display: block;
    color: #96a7af;
    line-height: 17px;
    white-space: nowrap;
}

.chat-wrap-line:nth-child(1) .chat-time {
    align-self: flex-start;
}

.chat-message {
    line-height: 22px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: 1s;
}

/*chat end*/

/*gallery*/

.gallery {
    grid-column: span 2;
    margin: 0 -25px;
    padding: 0 25px;
}

.gallery-list {
    align-items: center;
}

.gallery-item {
    height: auto;
    box-sizing: border-box;
}

.gallery .swiper-slide-active .gallery-description {
    margin-top: 30px;
    transition: .3s;
}

.gallery .swiper-slide-prev .gallery-description,
.gallery .swiper-slide-next .gallery-description {
    margin-top: -49px;
    transition: .3s;
}

.gallery .swiper-button-prev,
.gallery .swiper-button-next {
    display: none;
    width: 600px;
    height: 100%;
    top: 0;
    margin: 0;
    pointer-events: none;
    transition: .3s;
}

.gallery .swiper-button-prev {
    background: linear-gradient(-90deg, rgba(27, 35, 53, 0) 85%, var(--background-color) 92%);
    left: 0;
    justify-content: flex-start;
}

.gallery .swiper-button-next {
    background: linear-gradient(90deg, rgba(27, 35, 53, 0) 85%, var(--background-color) 92%);
    right: 0;
    justify-content: flex-end;
}

.gallery .swiper-button-next:after,
.gallery .swiper-button-prev:after {
    background: rgba(255, 255, 255, 0.12);
    border-radius: 50%;
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
}

.gallery-image-link {
    display: block;
    overflow: hidden;
    margin: -30px -30px 0;
    border-radius: 16px;
}

.gallery-image {
    position: relative;
    margin: 0;
    width: 100%;
    height: 181px;
    object-fit: cover;
    transition: .3s;
}

.gallery-image:hover {
    scale: 1.1;
}

.gallery-description {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 15px;
}

.gallery-name {
    font-size: 24px;
    line-height: 12px;
    color: var(--text-secondary-color);
    text-decoration: none;
}

.gallery-info {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 15px;
}

.like {
    display: flex;
    align-items: center;
    gap: 10px;
}

.like-counter {
    font-size: 15px;
    line-height: 18px;
    align-self: flex-end;
    margin-left: auto;
}

.like-icon {
    flex-shrink: 0;
    height: 22px;
    width: 22px;
    background-image: url('../icons/unlike.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: .3s;
}

.like-icon:hover {
    background-image: url('../icons/like.svg');
}

.pressed {
    background-image: url('../icons/like.svg');
}

.pressed:hover {
    background-image: url('../icons/unlike.svg');
}

.cost-icon {
    flex-shrink: 0;
    height: 15px;
    width: 16px;
    background-image: url('../icons/money.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery-caption {
    border-radius: 15px;
    font-size: 15px;
    padding: 2px 10px;
    line-height: 18px;
    color: var(--solid-primary-light);
    background-color: #FCC064;
}

.gallery-caption.young {
    background-color: var(--solid-primary);
}

/*gallery end*/

/*users*/

.users {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    gap: 30px;
    padding: 30px 25px;
    grid-column: span 2;
}

.users-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10px;
    row-gap: 30px;
    width: 100%;
}

.users .profile-image {
    height: 60px;
    width: 60px;
    font-size: 16px;
}

.users .profile-image:last-child {
    background: transparent;
    border: 2px dashed var(--text-color);
    color: var(--text-color);
}

.users .button {
    margin: 0 5px;
}

/*users end*/

/*swiper*/

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: 0;
}

/*swiper end*/

/*main end*/

/*pets*/

.pets-gallery {
    grid-column: 1/3;
    gap: 20px;
}

.pets-gallery-item {
    margin-bottom: 20px;
    /*width: 200%;*/
}

.pets-gallery-item:last-child {
    margin: 0;
}

.pets-gallery .gallery-image {
    height: auto;
}

.pets-menu {
    grid-column: 1/3;
    margin: 0 -25px;
    padding: 0 25px;
    margin-bottom: -5px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

/*.pets-menu-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}*/

.pets-menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-shrink: 0;
    border-radius: 5px;
    width: 95px;
    height: 91px;
    background: var(--box-color);
    color: var(--text-secondary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s, color .3s;
    scroll-snap-align: start;
    scroll-margin-left: 25px;
}

.pets-menu-item::before {
    content: '';
    width: 42px;
    height: 42px;
    border-radius: 100px;
    background: url('../icons/cats.svg') var(--solid-primary) center no-repeat;
}

.pets-menu-item.active {
    background: var(--solid-primary);
    color: var(--solid-primary-light);
}

.pets-menu-item:hover {
    background: rgba(76, 111, 255, 0.8);
    color: var(--solid-primary-light);
}

.pets-menu-item#dogs::before {
    background-image: url('../icons/dogs.svg');
}

.pets-menu-item#birds::before {
    background-image: url('../icons/birds.svg');
}

.pets-menu-item#hares::before {
    background-image: url('../icons/hares.svg');
}

.pets-menu-item#mice::before {
    background-image: url('../icons/mice.svg');
}

.pets-menu-item#others::before {
    background-image: url('../icons/others.svg');
}

/*.pets-menu-icon {
    width: 42px;
    height: 42px;
    border-radius: 100px;
    background: url('../icons/cats.svg') var(--solid-primary) center no-repeat;
}

.pets-menu-item:nth-child(2) .pets-menu-icon {
    background: url('../icons/dogs.svg') var(--solid-primary) center no-repeat;
}

.pets-menu-item:nth-child(3) .pets-menu-icon {
    background: url('../icons/birds.svg') var(--solid-primary) center no-repeat;
}

.pets-menu-item:nth-child(4) .pets-menu-icon {
    background: url('../icons/hares.svg') var(--solid-primary) center no-repeat;
}

.pets-menu-item:nth-child(5) .pets-menu-icon {
    background: url('../icons/mice.svg') var(--solid-primary) center no-repeat;
}

.pets-menu-item:nth-child(6) .pets-menu-icon {
    background: url('../icons/others.svg') var(--solid-primary) center no-repeat;
}*/

/*pets end*/

.compact-container {
    grid-column: span 2;
    margin: 0 -25px;
    padding: 0 25px;
    display: flex;
    gap: 15px;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

/*profile*/

.profile-buttons {
    grid-column: span 2;
    display: flex;
    gap: 30px;
    overflow-x: auto;
    padding: 0 25px;
    margin: 0 -25px;
}

.profile-button {
    min-width: 250px;
    padding: 20px;
    border: none;
    color: var(--text-secondary-color);
    font-size: 18px;
    font-weight: 700;
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
}

.profile-button-active {
    background: var(--solid-primary);
    color: var(--solid-primary-light);
}

.profile-button::before {
    display: block;
    content: '';
    width: 32px;
    height: 32px;
    background: url('../icons/account.svg') center no-repeat;
}

.profile-button:nth-child(2)::before {
    background-image: url('../icons/settings.svg');
}

.profile-button:nth-child(3)::before {
    background-image: url('../icons/your-pets.svg');
}

.profile-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    grid-column: span 2;
}

.account-section {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.account-section.security {
    gap: 30px;
}

.account-image {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: var(--solid-primary);
    background-image: url('../icons/picture.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.profile-title {
    margin: 0;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    color: var(--text-color);
}

.profile-subtitle {
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 14px;
    font-weight: 700;
    color: var(--text-color);
}

.account-form {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.account-section.security .account-form {
    gap: 40px;
}

.account-section.information .input-text-label:last-child {
    margin-top: 12px;
}

.profile-settings {
    display: flex;
    flex-direction: column;
    gap: 25px;
    grid-column: span 2;
}

.settings-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.settings-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.settings-label {
    font-size: 14px;
    display: flex;
    gap: 10px;
    align-items: center;
    line-height: 18px;
}

.profile-pets {
    grid-column: span 2;
    padding: 20px;
}

.pets-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    gap: 5px;
}

.step {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: var(--solid-primary-light);
    flex-shrink: 0;
    overflow: hidden;
}

.step::before {
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    left: 0;
    background: var(--solid-primary);
    transition: width .2s .2s;
}

.step.active::before {
    width: 100%;
}

.step span {
    font-size: 16px;
    color: var(--solid-dark-light-theme);
    transition: color .2s .2s;
    z-index: 1;
}

.step.active span {
    color: var(--solid-primary-light);
}

.step-separator {
    background: var(--solid-primary-light);
    border-radius: 40px;
    width: 30px;
    height: 4px;
    position: relative;
}

.step-separator::before {
    content: '';
    position: absolute;
    width: 0;
    border-radius: 40px;
    height: 100%;
    background: var(--solid-primary);
    transition: width .2s;
}

.step.active + .step-separator::before {
    width: 50%;
    transition: width .2s .4s;
}

.step-separator:has(+.step.active)::before {
    width: 100%;
    transition: width .2s;
}

.profile-separator {
    height: 1px;
    background: var(--solid-light-dark);
}

.tab {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.pets-titles {
    font-size: 20px;
    line-height: 30px;
    color: var(--text-secondary-color);
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.pets-subtitle {
    font-size: 12px;
    line-height: 18px;
}

.pets-fieldset-main {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    border: none;
}

.pets-fieldset-main .input-text-label:nth-child(1) {
    width: calc(100% - 124px);
}

.pets-fieldset-main .input-text-label:nth-of-type(3) {
    width: 100%;
}

#gender-checkbox {
    display: none;
}

.gender-label {
    display: block;
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    padding: 5px;
    height: 37px;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}

.gender-label::before,
.gender-label::after {
    display: block;
    content: '';
    width: 37px;
    height: 27px;
    background: url('../icons/female.svg') center no-repeat;
    z-index: 1;
    transition: filter .3s;
}

.gender-label::after {
    background: url('../icons/male.svg') center no-repeat;
}

.gender-switcher {
    position: absolute;
    border-radius: 16px;
    width: 37px;
    height: 27px;
    background: var(--solid-primary);
    transition: translate .3s;
}

.gender-label:has(#gender-checkbox:checked) .gender-switcher {
    translate: 37px;
}

.pets-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pets-fieldset {
    display: flex;
    gap: 15px;
    flex-direction: column;
    border: none;
    margin: 0;
    padding: 10px;
}

.pets-radio-container {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.pets-radio {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 600;
    font-size: 10px;
}

.pets-drop {
    border: 1px dashed var(--solid-primary-light);
    border-radius: 6px;
    padding: 13px 21px;
    width: 100%;
    height: 250px;
    display: inline-grid;
    place-content: center;
    font-size: 18px;
    line-height: 150%;
    color: var(--text-secondary-color);
    text-align: center;
}

.attachments-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
    border-radius: 6px;
    border: 1px dashed var(--text-secondary-color);
    padding: 30px;
}

.attachments-list.active {
    padding: 0;
    gap: 6px;
    border: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: start;
    grid-template-rows: repeat(auto-fill, 40px);
    grid-auto-rows: minmax(100px, auto);
}

.attachments-list input {
    display: none;
}

.attachments-title {
    font-size: 18px;
    line-height: 150%;
    color: var(--text-secondary-color);
    text-align: center;
}

.attachments-title span {
    font-weight: 700;
}

.attachments-list .attachment {
    height: 40px;
    border-radius: 9px;
    overflow: hidden;
}

.attachments-list .attachment.add {
    border: 1px dashed var(--solid-primary-light);
    display: inline-grid;
    place-content: center;
    cursor: pointer;
    font-size: 12px;
}

.attachments-list .attachment img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.animal-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 22px;
}

.animal-button {
    border-radius: 5px;
    height: 80px;
    padding: 0;
    background: var(--box-color);
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    color: var(--text-secondary-color);
    padding: 10.5px;
    cursor: pointer;
}

.animal-button input {
    display: none;
}

.animal-button:has(input:checked) {
    background-color: var(--solid-primary);
    color: var(--solid-primary-light);
}

.animal-button:hover {
    background: rgba(76, 111, 255, 0.8);
}

.animal-button::before {
    content: '';
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: var(--solid-primary);
    background-image: url('../icons/cats.svg');
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
}

.input-select {
    background: transparent;
    color: var(--text-secondary-color);
    border: none;
    width: 100%;
    height: 21px;
    line-height: 21px;
    border: 1px solid var(--solid-primary)
}

.input-select option {
    line-height: 21px;
}

.input-select:focus {
    outline: none;

}

.select {
    position: relative;
}

.select__header {
    height: 37px;
    line-height: 21px;
    padding: 8px;
    border-bottom: 1px solid var(--text-secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select__body {
    width: 100%;
    padding: 8px;
    color: var(--solid-light-dark);
    background: #fff;
    border-radius: 0px 0px 2px 2px;
    display: none;
    flex-direction: column;
    gap: 10px;
    max-height: 161px;
    overflow: auto;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    z-index: 1;
}

.is-active .select__body {
    display: flex;
}

.is-active .select__header {
    border-bottom: 1px solid var(--solid-dark-light-theme);
}

.select__item {
    line-height: 21px;
}

.select__item.active {
    color: var(--solid-primary)
}

.select__header::after {
    content: '';
    width: 12px;
    height: 12px;
    background: url('../icons/select.svg') center no-repeat;
}

.is-active .select__header::after {
    rotate: 180deg;
}

.pets-input-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.pets-input-container > * {
    width: calc(50% - 15px);
}

.pets-input-container > *:nth-last-child(5):first-child {
    width: 100%;
}

.pets-wrap {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.img-succes {
    align-self: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

.succes-title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 20px;
    text-align: center;
}

/*profile end*/

@media (min-width: 768px) {

    /*profile*/

    .profile-buttons {
        grid-column: span 5;
    }

    .profile-form {
        grid-column: span 5;
    }

    .account-form {
        row-gap: 28px;
        column-gap: 40px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .account-form .input-text-label {
        width: calc(50% - 20px);
    }

    .profile-settings {
        grid-column: span 5;
    }

    .account-section.information .input-text-label:last-child {
        margin-top: 0;
    }

    .profile-pets {
        grid-column: span 5;
    }

    .pets-fieldset {
        gap: 5px;
    }

    .pets-radio-container {
        flex-direction: row;
        gap: 30px;
    }

    .step-separator {
        width: 98px;
        height: 6px;
    }
    
    .step-separator::before {
        height: 6px;
    }

    .animal-buttons {
        min-width: 281px;
    }

    .pets-buttons {
        margin-top: 13px;
        flex-direction: row;
    }

    .pets-buttons .button {
        max-width: 270px;
    }

    #nextBtn {
        margin-left: auto;
    }

    .pets-wrap {
        flex-direction: row;
    }

    /*profile end*/

    .compact-container {
        display: contents;
    }

    .pets-menu {
        grid-column: 1/6;
        padding: 0;
        margin: 0;
        margin-bottom: -10px;
        gap: 30px;
        justify-content: center;
    }

    .pets-menu-list {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 30px;
    }

    .pets-gallery {
        grid-column: 1/6;
        column-count: 2;
        gap: 30px;
    }

    .pets-gallery-item {
        break-inside: avoid-column;
        margin-bottom: 30px;
    }


    /*header*/

    .header {
        padding: 24px;
        padding-top: 13px;
        padding-bottom: 13px;
    }

    /*burger*/

    .burger {
        padding: 15px 11px;
        padding-bottom: 14px;
        gap: 4px;
    }

    .burger-line {
        width: 24px;
        height: 3px;
    }

    .burger-line:nth-child(2) {
        width: 16px;
    }

    .burger-line:nth-child(3) {
        width: 10px;
    }

    .burger:hover .burger-line {
        width: 24px;
    }

    #burger-checkbox:checked+.burger .burger-line:nth-child(1) {
        translate: 0 7px;
    }

    #burger-checkbox:checked+.burger .burger-line:nth-child(3) {
        width: 24px;
        translate: 0 -7px;
    }

    /*burger end*/

    .rightside {
        gap: 40px;
    }

    /*switcher*/

    .header-switcher {
        height: 46px;
    }
    
    .header-switcher::before,
    .header-switcher::after {
        width: 53px;
        background-size: 20px;
    }

    .header-switcher::after {
        margin-left: -6px;
    }
        
    .switcher {
        width: 53px;
    }

    #switcher-checkbox:checked ~ .header-switcher .switcher {
        translate: 47px;
    }

    /*switcher end*/

    .profile-push,
    .header .profile-image {
        width: 46px;
        height: 46px;
    }

    .profile-push {
        background-size: auto;
    }

    .profile-push::after {
        width: 8px;
        height: 8px;
        top: 3px;
    }

    .header .profile-image {
        font-size: 18px;
    }

    /*header end*/

    /*main*/

    .main {
        padding-top: 100px;
        padding-left: 24px;
        padding-right: 24px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        row-gap: 40px;
        column-gap: 30px;
    }

    /*frame*/

    .welcome {
        grid-column: 1/6;
        grid-row: 1/2;
    }

    .welcome-image {
        display: block;
        max-height: 309px;
        margin-top: -30px;
        margin-right: -30px;
        margin-bottom: -30px;
    }

    .welcome-text {
        font-size: 16px;
        line-height: 21px;
        gap: 10px;
    }

    .welcome-text p:first-child {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .welcome-text p:last-child {
        line-height: 21px;
        font-size: 16px;
    }

    /*frame end*/

    /*activity*/

    .activity {
        padding: 30px;
        grid-column: 1/6;
        grid-row: 2/3;
    }

    .activity-graph {
        min-height: 322px;
    }

    .pie-wrap {
        --width: 306px;
        --border: 25px;
    }

    .pie {
        font-size: 40px;
    }

    .activity-progress {
        font-size: 24px;
    }

    .progress-list {
        gap: 10px;
    }

    .progress-item {
        height: auto;
        line-height: 22px;
    }

    .progress-title {
        font-size: 24px;
        line-height: 22px;
    }

    /*activity end*/

    /*statistics*/

    .statistics {
        grid-column: 1/4;
        grid-row: 3/5;
    }

    /*statistics end*/

    /*column*/

    .clock {
        grid-column: 4/6;
        grid-row: 3/4;
    }

    /*column end*/

    /*chat*/

    .chat {
        grid-column: 1/6;
        grid-row: 5/6;
        display: grid;
        grid-template-columns: subgrid;
        margin: 0;
        padding: 0;
    }

    .chat-list {
        grid-column: 1/4;
    }

    .chat .swiper-slide-prev,
    .chat .swiper-slide-next {
        height: 100%;
    }

    .chat .swiper-slide-prev .chat-info,
    .chat .swiper-slide-next .chat-info {
        opacity: 1;
    }

    .chat .swiper-slide-prev .chat-message,
    .chat .swiper-slide-next .chat-message {
        translate: 0;
    }

    .chat .swiper-button-next {
        display: flex;
    }

    /*chat end*/

    /*gallery*/

    .gallery {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: subgrid;
        border-radius: 16px;
        grid-column: 1/6;
        grid-row: 6/7;
    }

    .gallery-list {
        grid-column: 1/4;
    }

    .gallery .swiper-slide-prev .gallery-description,
    .gallery .swiper-slide-next .gallery-description {
        margin-top: 30px;
    }

    .gallery .swiper-button-next {
        display: flex;
    }

    .gallery-image {
        height: 220px;
    }

    /*gallery end*/

    /*users*/

    .users {
        gap: 50px;
        flex-grow: 1;
        grid-column: 4/6;
        grid-row: 4/5;
    }

    .users-wrapper {
        row-gap: 50px;
        column-gap: 20px;
    }

    .users .profile-image:nth-child(6) {
        display: none
    }

    /*users end*/

    /*swiper*/

    /*swiper end*/

    /*main end*/
}

@media (min-width: 1280px) {

    /*profile*/

    .profile-buttons {
        grid-column: span 3;
        flex-direction: column;
        gap: 15px;
    }

    .profile-form {
        grid-column: span 6;
    }

    #settings-form {
        grid-column: span 4;
    }

    /*profile end*/

    .pets-menu {
        grid-column: 1/2;
        margin: 0;
        align-self: start;
        position: sticky;
        top: 96px;
        flex-direction: column;
        align-items: flex-end;
    }

    .pets-menu-list {
        height: auto;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .pets-gallery {
        grid-column: 2/11;
        column-count: 3;
        gap: 20px;
    }

    .pets-gallery-item {
        margin-bottom: 20px;
    }

    /*header*/

    .header {
        margin-left: 100px;
        width: calc(100% - 100px);
        padding: 25px;
    }

    .header-title {
        display: block;
    }

    .burger {
        display: none;
    }

    /*sidebar*/

    #header-menu {
        scale: 1;
        padding: 30px 20px;
        width: auto;
        gap: 80px;
        align-items: center;
        border-right: 1px solid var(--border-color);
    }

    .menu-logo {
        display: block;
        width: 44px;
    }

    .menu-list {
        gap: 50px;
    }

    .menu-link {
        justify-content: center;
    }

    .menu-icon {
        background: transparent;
        width: 24px;
        height: 24px;
        padding: 0;
        border-radius: 0;
    }

    .menu-name {
        display: none;
    }

    .menu-link.active {
        width: 60px;
        height: 58px;
        border-radius: 13px;
        background: var(--solid-primary);
    }

    /*sidebar end*/

    /*switcher*/
    
    .header-switcher::after {
        width: 32px;
        margin-left: 0
    }
        
    #switcher-checkbox:checked ~ .header-switcher::before {
        translate: -10px;
    }

    #switcher-checkbox:checked ~ .header-switcher::after {
        translate: -10px;
    }
    
    #switcher-checkbox:checked ~ .header-switcher .switcher {
        translate: 32px;
    }

    /*switcher end*/

    .rightside {
        gap: 20px;
    }

    .profile {
        gap: 3px;
    }

    /*header end*/

    /*main*/

    .main {
        padding: 25px;
        padding-top: 151px;
        margin-left: 100px;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        gap: 20px;
    }

    /*frame*/

    .welcome {
        grid-column: 1/6;
        grid-row: 1/2;
    }

    .welcome-image {
        max-height: 220px;
    }

    /*frame end*/

    /*activity*/

    .activity {
        grid-column: 6/11;
        grid-row: 1/2;
        gap: 30px;
    }

    .activity-graph {
        margin: 0;
        flex-grow: 0;
        min-height: 244px;
    }

    .pie-wrap {
        --width: 232px;
        --border: 18px;
    }

    .pie {
        font-size: 24px;
    }

    .activity-progress {
        font-size: 18px;
    }

    .progress-title {
        font-size: 18px;
    }

    /*activity end*/

    /*statistics end*/

    .statistics {
        gap: 50px;
        grid-column: 1/6;
        grid-row: 2/3;
    }

    .statistics-cover {
        max-width: 180px;
        gap: 40px;
    }

    .cover-description {
        align-items: flex-end;
    }

    /*statistics end*/

    /*gallery*/

    .gallery {
        grid-column: 6/11;
        grid-row: 2/3;
    }

    .gallery-list {
        align-items: stretch;
    }

    .gallery-image {
        height: 193px;
    }

    /*gallery end*/

    /*users*/

    .users {
        gap: 20px;
        grid-column: 7/9;
        grid-row: 3/4;
    }

    .users .button {
        margin: 0;
    }

    .users-wrapper {
        gap: 20px;
    }

    .users .profile-image:nth-child(4),
    .users .profile-image:nth-child(5) {
        display: none
    }

    /*users end*/

    /*column*/

    .clock {
        background: none;
        padding: 0;
        gap: 20px;
        grid-column: 9/11;
        grid-row: 3/4;
    }

    .clock-row {
        padding: 30px;
        background: var(--box-color);
        flex-grow: 1;
    }

    .clock-item {
        font-size: 15px;
        line-height: 18px;
    }

    .clock-item::before {
        display: none;
    }

    /*column end*/

    /*chat*/

    .chat {
        grid-column: 1/7;
        grid-row: 3/4;
    }

    /*chat*/

    /*swiper*/

    /*swiper*/

    /*main end*/

    body.light-theme .menu-link .menu-icon {
        filter: brightness(0) saturate(100%) invert(7%) sepia(9%) saturate(5976%) hue-rotate(190deg) brightness(94%) contrast(95%);
    }

}

@media (min-width: 1920px) {

    /*profile*/

    .profile-form {
        grid-column: span 5;
    }

    #settings-form {
        grid-column: span 3;
    }

    /*profile end*/

    .pets-menu {
        grid-column: 1/3;
        top: 106px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .pets-menu-item {
        padding: 0;
        width: auto;
        height: auto;
        aspect-ratio: 1;
    }

    .pets-menu-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .pets-gallery {
        grid-column: 3/13;
        column-count: 4;
        gap: 40px;
    }

    .pets-gallery-item {
        margin-bottom: 40px;
    }

    /*header*/

    .header {
        padding: 30px;
    }

    #header-menu {
        gap: 50px;
    }

    .rightside {
        gap: 40px;
    }

    /*switcher*/

    .header-switcher::after {
        width: 53px;
        margin-left: -6px;
    }
        
    #switcher-checkbox:checked ~ .header-switcher::before {
        translate: 0;
    }

    #switcher-checkbox:checked ~ .header-switcher::after {
        translate: 0;
    }
    
    #switcher-checkbox:checked ~ .header-switcher .switcher {
        translate: 47px;
    }


    /*switcher end*/

    .profile {
        gap: 18px;
    }

    /*header end*/

    /*main*/

    main {
        margin-top: 96px;
        margin-left: 100px;
    }

    .main {
        max-width: 1820px;
        padding: 30px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 40px;
    }

    /*frame*/

    .welcome {
        grid-column: 1/7;
        grid-row: 1/3;
    }

    .welcome-image {
        max-height: 314px;
    }

    /*frame end*/

    /*activity*/

    .activity {
        grid-column: 7/11;
        grid-row: 1/3;
    }

    .pie-wrap {
        --width: 254px;
        --border: 20px;
    }

    .pie {
        font-size: 40px;
    }

    /*activity end*/

    /*column*/

    .clock {
        grid-column: 11/13;
        grid-row: 1/3;
        gap: 40px;
    }

    .clock-row {
        gap: 12px;
    }

    .clock-item {
        font-size: 16px;
    }

    .clock-item::before {
        display: block;
    }

    #date,
    #time {
        font-size: 32px;
    }

    /*column end*/

    /*chat*/

    .chat {
        grid-column: 1/13;
        grid-row: 3/4;
    }

    /*chat end*/

    /*gallery*/

    .gallery {
        grid-column: 1/7;
        grid-row: 4/5;
    }

    .gallery-image {
        height: 181px;
    }

    /*gallery end*/

    /*users*/

    .users {
        grid-column: 7/9;
        grid-row: 4/5;
    }

    .users-wrapper {
        column-gap: 10px;
        row-gap: 35px;
    }

    .users button {
        width: 200px;
        max-width: 200px;
    }

    .users .profile-image:nth-child(4),
    .users .profile-image:nth-child(5) {
        display: inline-grid;
    }

    /*users end*/

    /*statistics*/

    .statistics {
        width: auto;
        max-width: none;
        flex-grow: 1;
        grid-column: 9/13;
        grid-row: 4/5;
    }

    .statistics-cover {
        gap: 28px;
    }

    .statistics-diagram {
        gap: 20px;
    }

    /*statistics end*/

    /*main*/

}

.hide {
    display: none;
}

body.light-theme {
    --background-color: #edf2f7;
    --box-color: #fff;
    --text-color: var(--solid-dark-light-theme);
    --text-secondary-color: var(--solid-dark-light-theme);
    --pie-color: #edf2f7;
    --diagram-color: #edf2f7;
    --border-color: #d5d5dc;
  }

body.light-theme .menu-logo {
    filter: brightness(0) saturate(100%) invert(7%) sepia(9%) saturate(5976%) hue-rotate(190deg) brightness(94%) contrast(95%);
}

body.light-theme .menu-link.active .menu-icon {
    filter: none;
}

body.light-theme .gallery .swiper-button-next:after,
body.light-theme .gallery .swiper-button-prev:after,
body.light-theme .chat .swiper-button-next:after,
body.light-theme .chat .swiper-button-prev:after {
    background: var(--solid-primary);
}

body.light-theme .profile-push {
    background-image: url('../icons/push-light.svg');
}

body.light-theme .input-text::placeholder {
    color: var(--solid-dark-light-theme);
}

body.light-theme .input-text.just-validate-error-field::placeholder {
    color: var(--solid-danger);
}

body.light-theme .profile-button::before {
    filter: brightness(0) saturate(100%) invert(7%) sepia(9%) saturate(5976%) hue-rotate(190deg) brightness(94%) contrast(95%);
}

body.light-theme .profile-button-active::before {
    filter: none;
}

body.light-theme .gender-label {
    background: var(--solid-primary-light);
}

body.light-theme .gender-label::after {
    filter: brightness(0) saturate(100%) invert(7%) sepia(9%) saturate(5976%) hue-rotate(190deg) brightness(94%) contrast(95%);
}

body.light-theme .gender-label:has(input:checked)::after {
    filter: none;
}

body.light-theme .gender-label:has(input:checked)::before {
    filter: brightness(0) saturate(100%) invert(7%) sepia(9%) saturate(5976%) hue-rotate(190deg) brightness(94%) contrast(95%);
}



